[run]
branch = True
source = app
omit =
    tests/*
    */__init__.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except Exception:
    except Exception as exc:

[html]
directory = htmlcov
